body {
	background-image: url(background.png);
	font-family: Vernanda, Tahoma, sans-serif;
    font-size: 8pt;
	padding: 0%;
    margin: 0%;
}
h1, dt, div.top, q{
    font-weight: bold;
}
div.banner, h1{
    text-align: center;
}
div.banner {
	background-image: url(bannerbg.png);
	background-size: 50px 50px;
	background-repeat:repeat-x;
	margin: 0%;
    padding: 0%;
}
h1{
    font-size: 24pt;
    text-shadow: 3px 3px #999999;
}
div.content{
	width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid gray;
    border-radius: 20px;
	overflow:hidden;
}
div.column1{
	margin: 11px;
	width: 240px;
	float: left;
}
div.column2{
	margin: 11px;
	width: 240px;
	float: left;
}
p.review{
	clear: left;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    padding-bottom:15px;
}
.review img{
	margin: 1px;
	float: left;
}
.reviewer img {
	float: left;
}

div.info{
	width: 250px;
	background-color: #A2B964;
}
dl{
	font-family: Arial, sans-serif;
    font-size: 8pt;
	background-color: #A2B964;
	padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: 0px;
}
dt{
    margin-top: 10pt;
	font-size:10pt;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
div.top{
	background-image: url(rbg.png);
	height: 83px;
	font-size: 48pt;
	font-weight: bold;
	color: red;
	margin-top: auto;
	margin-bottom: auto;
}
div.overview{
	float: right;
	width: 250px;
	background-color: #A2B964;
	flex: 1;
}
.top img{
    vertical-align: bottom;
}
p.pageindex{
	clear: both;
    text-align: center;
    margin: 0px;
    padding: 5px;
	background-color: #A2B964;
}
div.validate {
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 0.5;
}